<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

  <title>Error</title>
</head>
<body class="p-3 mb-2 bg-light text-black">
<div class="container justify-content-center w-50 p-3" style="margin-top: 5em;">
  <div>
    <h1>You discovered something new to us!</h1>
    <h2>Let us know about it at: lorem ipsum to get a finders fee.</h2>
    <span>Want to go <a th:href="@{/home}">home</a> instead?</span>
  </div>
</div>
</body>
</html>